/*Home page*/
div.card-body {
  text-align: center;
}

div.card-footer {
  display: flex;
  justify-content: center;
}

/*Contact page*/
.alert {
  color: rgb(114, 5, 5);
  background-color: #f1d6d6;
}

.hidden {
  display: none;
}
