/*Home page*/
div.card-body {
  text-align: center;
}

div.card-footer {
  display: flex;
  justify-content: center;
}

/*About page*/
.centerBtn {
  margin: 0 auto;
}

figure#sample-code {
  margin: 0 8%;
}

/*Submissions page*/
table#submissions {
  margin-top: 1rem;
}

#submissions td:first-child {
  width: 20%;
  padding-right: 2rem;
}

#submissions td:last-child {
  width: 25%;
}
