/*Global styles*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 70px;
}

h2 {
  text-align: center;
}

hr {
  border: 1px solid black;
  width: 40%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root {
  min-height: calc(100vh - 70px); /*100% of viewport height minus 70px from body's padding-top*/
  overflow: hidden;
  position: relative;
  padding-bottom: 120px; /* height of footer */
}

.alert {
  color: rgb(114, 5, 5);
  background-color: #f1d6d6;
}

.hidden {
  display: none;
}

/*Header*/
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

li.nav-item {
  margin: 0 1rem;
  background-color: #4889af;
  border-radius: 5px;
}

li.nav-item:hover {
  background-color: #6ba7ca;
}

a.nav-link {
  color: white !important;
}

li.nav-item.private {
  background-color: #9c569c;
}

li.nav-item.private:hover {
  background-color: #bb53bb
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} /*sets footer at bottom of page*/

